body {
  background: url("https://www.xmple.com/wallpaper/pink-gradient-yellow-linear-1920x1080-c2-ffb6c1-ffdab9-a-90-f-14.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ratings {
    color: rgb(30, 178, 197);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

h1 {
    color: rgb(30, 178, 197);
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;

}

.btn-primary {
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 80px;
    padding-left: 100px;
}


@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
    body {
        background-color: rgb(30, 178, 197);
        font-size: 60px;
    }
}

.form-control {
    width: 30%;
}

#add {
    font-size: 24px;
    color: rgb(30, 178, 197);
    font-family: 'Montserrat', sans-serif;
}

